<app-dashboard>
  <app-widget positionX="0" positionY="0" width="4" height="2">
    <span>Widget 1</span>
  </app-widget>
  <app-widget positionX="4" positionY="0" width="4" height="4">
    <span>Widget 2</span>
  </app-widget>
  <app-widget positionX="8" positionY="0" width="2" height="2">
    <span>Widget 3</span>
  </app-widget>
  <app-widget positionX="10" positionY="0" width="2" height="2">
    <span>Widget 4</span>
  </app-widget>
  <app-widget positionX="0" positionY="2" width="2" height="2">
    <span>Widget 5</span>
  </app-widget>
  <app-widget positionX="2" positionY="2" width="2" height="4">
    <span>Widget 6</span>
  </app-widget>
  <app-widget positionX="8" positionY="2" width="4" height="2">
    <span>Widget 7</span>
  </app-widget>
  <app-widget positionX="0" positionY="4" width="2" height="2">
    <span>Widget 8</span>
  </app-widget>
  <app-widget positionX="4" positionY="4" width="4" height="2">
    <span>Widget 9</span>
  </app-widget>
  <app-widget positionX="8" positionY="4" width="2" height="2">
    <span>Widget 10</span>
  </app-widget>
  <app-widget positionX="10" positionY="4" width="2" height="2">
    <span>Widget 11</span>
  </app-widget>
</app-dashboard>
